<h1>Add a client</h1>

<form class="form-control" action="/client/$client.getId()" method="post">
  <label for="client-name">Barber's name</label>
  <input type="text" name="name">
  <button class="btn btn-lg btn-primary" type="submit" name="add-client">Add client</button>

</form>
