<h1>Successfully added $client.getName() to the database</h1>
<h3>Click below to view your new client in the all list.</h3>
<a href="/administrator/view-clients"><button class="btn btn-success" type="button" name="button">View clients</button></a>
