<h1>Successfully added $barber.getName() to the database</h1>
<h3>Click below to view your new barber in the all list.</h3>
<a href="/administrator/view-barbers"><button class="btn btn-success" type="button" name="button">View barbers</button></a>
