<h1>Add a client:</h1>

<form action="/administrator/add-client/success" method="post">
  <label for="name">Client Name</label>
  <input id="name" type="text" name="name">
  <select id="barberId" name="barberId">
    #foreach($barber in $barbers)
      <option value="$barber.getId()">$barber.getName()</option>
    #end
  </select>
  <button class="btn btn-primary" type="submit" name="button">Add Client</button>
</form>
