<h1>Add a barber</h1>

<form action="/administrator/add-barber/success" method="post">
  <label for="barber-name">Barber's name</label>
  <input type="text" name="barber-name" id="barber-name">
  <button class="btn btn-lg btn-primary" type="submit" name="add-barber">Add barber</button>

</form>
