<h1>Welcome Administrator</h1>
<h3>Your options are listed below</h3>
<hr>
<h2><a href="/administrator/view-barbers">View all barbers</a></h2>
<h2><a href="/administrator/view-clients">View all clients</a></h2>
<h2><a href="/administrator/add-barber">Add a new barber</a></h2>
<h2><a href="/administrator/add-client">Add a new client</a></h2>
