<h1>Update your Barber's name</h1>
<form  action="/barber/$barber.getId()/update-success" method="post">
  <label for="name">Update Name</label>
  <input id="name" type="text" name="name" value="$barber.getName()">
  <button class="btn btn-warning" type="submit" name="button">Submit</button>
</form>
