<h1>Welcome</h1>
<h3>Generic Barbershop</h3>
<form  action="/administrator" method="get">
  <label for="admin-page">Enter as an administrator</label>
  <button type="submit" name="button">Administrator</button>
</form>
