<h1>Welcome</h1>
<h3>Generic Barbershop</h3>
<label for="admin-page">Enter as an administrator</label>
<a href="/administrator"><button class="btn btn-success" type="button" name="button">Administrator</button></a>
